.card-saving {
    margin: 1rem;
}

.card-saving .card-saving-content {
    padding: 1em;
    background-color: #F5F6F8;
    border-radius: 1em;
}

.card-value {
    display: flex;
    justify-content: space-between;
    
}

.card-saving .card-saving-content .card-saving-info {
    display: flex;
    align-items: center;
}

.card-saving .card-saving-content .card-saving-info .card-saving-subtitle {
    display: flex;
}

.card-saving .card-saving-content .card-saving-info .card-saving-title {
    margin-left: 1rem;
}

.card-saving .card-saving-content .card-saving-info .card-saving-title h3 {
    font-weight: 600;
}

.card-saving .card-saving-content .card-saving-info .card-saving-title .money-info {
    margin-right: 1rem;
}

.card-saving .card-saving-content .card-saving-info .card-saving-title .money-info h6 {
    color: #7E7E7E;
    font-size: 0.7em;
}

.money-rest p {
    color: #7E7E7E !important;
}

.card-saving .card-saving-content .card-saving-info .card-saving-title .money-info p {
    color: #313343;
    font-weight: 500;
    font-size: 1em;
}

.card-saving .card-saving-content .card-saving-edit-button {
    display: flex;
    align-items: center;
}

.card-saving .card-saving-content .card-saving-edit-button .icon-modif {
    width: 1.3rem;
    height: 1.3rem;
    color: #313343;
    margin-right: 1.5rem;
    cursor: pointer;
}

.card-saving .card-saving-content .card-saving-edit-button .icon-modif:hover {
    opacity: 0.7;
}

.card-saving .card-saving-content .card-saving-edit-button .icon-delete {
    width: 1.3rem;
    height: 1.3rem;
    color: #DC4C4C;
    cursor: pointer;
}

.card-saving .card-saving-content .card-saving-edit-button .icon-delete:hover {
    opacity: 0.7;
}

.card-saving .card-propress .progress-bar {
    width: 100%;
    margin-top: 10px;
    background-color: #bdbdbd;
    border-radius: 0.5rem;
}

.card-saving .card-propress .progress-bar .bar {
    background-color: chartreuse;
    height: 10px;
    border-radius: 0.5rem;
}