.item-estimation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 8px;
}

.item-estimation  .edit-btn {
    background-color: #DC4C4C;
    width: 30px;
    height: 30px;
    margin: 8px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
}