.card-transaction {
    margin: 1rem;
    position: relative;
}

.card-transaction .card-transaction-content {
    border-radius: 1em;
    padding: 1em;
    background-color: #F5F6F8;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-transaction .card-transaction-content .card-transction-content-icon {
    display: flex;
}

.card-transaction .card-transaction-content .card-transaction-icon {
    margin-right: 1rem;
}

.card-transaction .card-transaction-content .card-transaction-icon .icon {
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 0.6em;

    display: flex;
    justify-content: center;
    align-items: center;
}

.card-transaction .card-transaction-content .card-transaction-icon .icon .icon-in {
    width: 25px;
    height: 25px;
    color: #313343;
}

.card-transaction .card-transaction-content .card-transaction-info {
    
}

.card-transaction .card-transaction-content .card-transaction-info h3 {
    font-size: 1em;
    font-weight: 500;
}

.card-transaction .card-transaction-content .card-transaction-info p {
    font-size: 0.7em;
    color:#7E7E7E;   
}

.card-transaction .card-transaction-content .card-transaction-price {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-transaction .card-transaction-content .card-transaction-price h4 {
    font-size: 1em;
    font-weight: 500;
}

.card-transaction .card-transaction-content .card-transaction-price h5 {
    font-size: 0.7em;
    color:#7E7E7E; 
}

.card-transaction .card-transaction-edit {
    position: absolute;
    top:-20px;
    right: 0;
}

.card-transaction:hover  .card-transaction-edit .edit-btn {
    opacity: 1;
}

.card-transaction .card-transaction-edit .edit-btn {
    background-color: aliceblue;
    width: 25px;
    height: 25px;
    margin: 8px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    opacity: 0;
    transition: 150ms linear;
    position: relative;
}

.card-transaction .card-transaction-edit .edit-btn:hover {
    top: -5px
}